/* ---------- Color Palette ---------- */

/*

Pink - #ec5084;
Green - #6ea24a;
Grey - #b7b7b7;

*/

/* ---------- Reset ---------- */
a img {
    border: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    line-height: 1em;
    font-size: 100%;
    font-weight: normal;
}

p {
    margin: 0 0 1em 0;
}

body {
    margin: 0;
    padding: 0;
}

/* ---------- General Styles ---------- */

.outline {
    display: none;  /* Hide headings that are intended to convey structure in HTML outline */
} 

.wrapper {
	margin-left: 70px;
	margin-right: 70px;
}


body, input {
	font-family: "Prata", serif;
}

/* ---------- Header Styles ---------- */

.lPadding { 
	padding-left: 70px;
}

.rPadding {
	padding-right: 70px;
}

header.branding {
	background-color: #6ea24a;
}

.branding h1 {
	font-size: 30px;
	color: #fff;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
}

/* ---------- Input Styles ---------- */

input[name="shopping_item"], input[name="shopping_item"]:focus { 
	width: 100%; 
	border: 1px solid #b7b7b7;
	height: 91px;
	border-radius: 5px;
	box-shadow:none;
	font-size: 24px;
	padding-left: 30px;
	padding-right: 30px;
	-webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;         /* Why does the padding make it wider on mine but not yours? */
	margin-top:50px;				
}	

input[name="shopping_item"]:focus { 
	outline: none;
}

::-webkit-input-placeholder {
   color: black;
}

:-moz-placeholder { /* Firefox 18- */
   color: black;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: black;  
}

:-ms-input-placeholder {  
   color: black;  
}

ul.instructions {
	list-style-type:none;
	margin-top: 2px;
	margin-bottom: 50px;
	padding: 0;
	text-align: center;
}

.instructions li {
	color:#b7b7b7;
	font-size: 12px;
	font-family: Verdana, sans-serif;
	display: inline-block;
	padding-right: 10px;
}

/* ---------- Shopping List Styles ---------- */

ul.shopping_item_list {
	list-style-type: none;
	padding:0; 
	width:100%;
}

.tile {
	float:left;
	width:30%;
	-moz-box-sizing: border-box;   
   -webkit-box-sizing: border-box;
	box-sizing:border-box;
	margin-bottom:50px;
	vertical-align:top;
	min-height: 250px;
	background-color: #6ea24a;
	padding:50px 25px 25px 25px;
	color: #fff;
	font-size: 25px;
	text-align: center;
	position: relative; /* To position delete span */
}

.tile.middle {
	margin-left:4.99%;
	margin-right:4.99%;
}

.shopping_item_list li:nth-child(even) {
	background-color:#ec5084;
}

.shopping_item_list .delete {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	right:0;
	background-color: #000;
	padding-top:10px;
	padding-bottom: 10px;
	font-family: Verdana, sans-serif;
	font-size:18px;
	text-align: center;
}

.tile .delete {
    display: none;
}

.tile:hover .delete {
    display: block;
}

.deleteAction {
	background-color:#b7b7b7 !important; /*Needed to override pink background color. How else could I have done this? */
	text-decoration:line-through;
	color:#e1e1e1;
}

/* ------------- Mobile styles ------------------- */


@media only screen and (max-width: 930px) {



	ul.instructions {
	text-align: left;
	margin-top:10px;
	}

	.instructions li {
	display:block;
	line-height:1.5em;
	margin-right:auto;
	margin-left:auto;
	width:70%;
	text-align:center;
	}

	.instructions .divider {
		display:none;
	}


}

@media only screen and (max-width: 800px) {

	.wrapper {
		margin-left: 10px;
		margin-right:10px;
	}

	.tile {
		width:100%;
		padding-left:0px;
		padding-right:0px;
	}


	.branding h1 {
	font-size: 25px;
	padding-top: 15px;
	padding-bottom: 15px;
	line-height:1.5em;
	}

		::-webkit-input-placeholder {
   text-align: center;
	}

	:-moz-placeholder { /* Firefox 18- */
   text-align: center; 
	}

	::-moz-placeholder {  /* Firefox 19+ */
   text-align: center; 
	}

	:-ms-input-placeholder {  
   text-align: center;
	}

}
